.about-headline {
  background: url('./resources/image/7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e2e1;
  padding: 20px;
  background-blend-mode: soft-light;
  overflow: hidden;
}

.headline-block {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.hero-greet {
  font-size: 28px;
  text-align: center;
}

.headline-title {
  font-size: 32px;
  font-weight: 900;
  color: #eb1d07;
  margin: 30px 0;
  text-align: center;
  line-height: 35px;
}

.headline-details {
  background: #fff;
  color: #292d35;
  padding: 25px;
  max-width: 100%;
  border: 1px solid #cdcbcb;
  margin-bottom: 15px;
  text-align: center;
}

.headline-block h5 {
  font-weight: normal;
  color: #292c34;
  margin: 20px 0;
  text-align: center;
}

address {
  text-decoration: underline;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: #fff;
  flex-direction: column;
  border-bottom: 1px solid #d6d6d6;
}

.abt-program-title {
  text-align: center;
  margin-top: 50px;
}

.abt-program-title::after {
  content: '';
  border-bottom: 3px solid #ec5242;
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 90px;
}

.about-logo-details {
  text-align: center;
  margin: 0 35px;
}

.logo-block {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.logo-block .program-title {
  color: #272a31;
}

.logo-img {
  padding: 35px;
  border: 1px solid #d2cece;
  margin-bottom: 25px;
}

.logo-img img {
  width: 100%;
  max-width: 500px;
}

.about-past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 30px 20px;
}

.about-past .program-title {
  color: #272a31;
}

.about-past-details {
  margin: 20px 0;
  padding: 15px;
}

.past-basecamp {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.past-basecamp-item {
  position: relative;
  overflow: hidden;
}

.past-basecamp-item img {
  width: 100%;
}

.basecamp-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  text-align: center;
  background: rgba(217, 35, 35, 0.7);
  transition: all 0.1s ease-in-out;
}

.basecamp-year {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.basecamp-info p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 22px;
}

.basecamp-info:hover {
  transform: scale(1.3);
  background: rgba(225, 33, 33, 0.8);
}

.d-footer {
  display: none;
}

@media screen and (min-width: 768px) {
  .headline-block {
    display: flex;
    justify-content: center;
    max-width: 800px;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    padding: 10px;
    gap: 10px;
  }

  .headline-title {
    font-size: 56px;
    line-height: 60px;
  }

  .past-basecamp {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .past-basecamp-item {
    max-width: 47%;
  }

  .black-footer {
    background: #272a31;
    color: #fff;
  }

  .m-footer {
    display: none;
  }

  .d-footer {
    display: block;
  }
}
